 <div class="container registerContainer">
     <header>
        <h1 class="prName"></h1>
            </header>
                <section>				
                    <div id="container_demo" >
                        <div class="messageHolder alert alert-success" [hidden]="msg">
                            <div>
                                <span>User Registered Succesfully!</span>
                            </div>
                            
                        </div>
                        <div id="regiWrapper">

                            <div id="register" class="animate form">

                                <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate autocomplete="on"> 
                                         <h1> Sign up </h1> 
                                            <p> 
                                                <label for="username" class="uname" >Your username</label>
                                                        <input id="username" [(ngModel)]="user.username" #username="ngModel" name="username" required="required" type="text" placeholder="mysuperusername690" />
                                            </p>
                                            <p> 
                                                <label for="email" class="youmail"  > Your email</label>
                                                        <input id="email" name="email" required="required" type="email" placeholder="mysupermail@mail.com" [(ngModel)]="user.email"
                                                               /> 
                                            </p>
                                            <p> 
                                                  <label for="password" class="youpasswd" >Your password </label>
                                                         <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" [(ngModel)]="user.password"/>
                                            </p>
                                             <p>  
                                                 <label for="password_confirm" class="youpasswd" >Please confirm your password </label>
                                                         <input id="password_confirm" name="password_confirm" required="required" type="password" placeholder="eg. X8df!90EO" [(ngModel)]="user.password_confirm" />
                                             </p>
                                             <p class="signin button"> 
                                                        <input type="submit" (click)="register(user)" value="Sign up"/> 
                                             </p>

                                            <p class="change_link">  
                                                Already a member ?
                                                <a routerLink="/login" class="to_register"> Go and log in </a>
                                                
                                            </p>
                                </form>
                            </div>
                    </div>
                </div>
     </section>
</div>