      <topnavbar></topnavbar> 

<div class="startcontainer" style="margin-top: 30px;">
    
    <div class="FirstView">
        
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1"></li>
                <li data-target="#carousel-example" data-slide-to="2"></li>
              </ol>

              <div class="carousel-inner">
                <div class="item active">
                  <a><img class="carousel-img" src="assets/img/img1.jpg" /></a>
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="item">
                  <a><img class="carousel-img" src="assets/img/img2.jpeg" /></a>
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="item">
                  <a><img class="carousel-img" src="assets/img/img3.jpg" /></a>
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
              </div>

              <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
        </div>
        
     </div>
			
    <div class="contentbox">
        <h1>Our Work</h1>
        <div class="container">
            <gallary></gallary> 
        </div>
    </div>
    
    <div class="contentbox">
        <h1>Our Team</h1>
        <div class="container">
            <team></team>
        </div>
    </div>
    
    
<!--
<div class="jumbotron">
                    
                </div>
				<div class="video-container">
						<img src="../assets/img/preview4.jpg" class="img-responsive" alt="video-bg" width="100%">

				</div>
-->
    
    
	</div>