.topNavLogOut{
    
    margin-right: 25px;
}
.topNavLogOut a{
    
       color: #e7e7e7;
}
.topnavbar{
    background-color: #4b5d73
        
}
.topbar-logo{
    
        float: left;
    height: 50px;
    /* padding: 29px 15px; */
    font-size: 18px;
    line-height: 48px;
    margin-left: 7px;
        color: #e7e7e7;
}