 <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
<!--              <p class="well lead">Click on the Menu to Toggle Sidebar</p>-->
                  
                    <div class="topbar navbar navbar-default navbar-fixed-top">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar top-bar"></span>
                              <span class="icon-bar middle-bar"></span>
                              <span class="icon-bar bottom-bar"></span>
                            </button>
                            <a class="topbar-logo" href="#">
                                    <img  src="" alt="Logo">
                                    <!-- TRIANZ <span style="color:#C65B28;">UNIVERSITY</span> -->

                                </a>
                          </div>
                          <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
<!--

                              <li><a  data-original-title="Dashboard" data-placement="bottom" role="button">Dashboard</a></li>
                              <li><a  data-original-title="Profile" data-placement="bottom" role="button">Profile</a></li>
                               <li><a data-original-title="User Login" data-placement="bottom" role="button" routerLink="/login">Login</a></li>
-->
                                <li class="topNavLogOut"><a  data-original-title="Dashboard" data-placement="bottom" (click)="logout()" role="button">Log Out</a></li>
                            </ul>
                          </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                    </div>
                </div>
            </div>
        </div>