 <div class="row img-galary">
      
      <div class="col-md-3">
          
      <div class="hovereffect">
          <img class="img-responsive" src="assets/img/gallary/analytics-information-management.jpg" alt="">
          <div class="overlay">
             <h2>Analytics</h2>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
          </div>
          
      </div>
          
    </div>
    
    <div class="col-md-3">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/img/gallary/cloud1.jpg" alt="">
          <div class="overlay">
             <h2>Cloud Engineering</h2>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/img/gallary/cloud2.jpg" alt="">
          <div class="overlay">
             <h2>Security</h2>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/img/gallary/digital-transformation.jpg" alt="">
          <div class="overlay">
             <h2>Digitization</h2>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
          </div>
      </div>
    </div>
    
  </div>
  
     <div class="row img-galary">
      
      <div class="col-md-3">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/img/gallary/independent-testing.jpg" alt="">
          <div class="overlay">
             <h2>Cloud Enterprise</h2>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
          </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/img/gallary/information-security.jpg" alt="">
          <div class="overlay">
             <h2>Cloud Infrastructure</h2>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/img/gallary/information-security.jpg" alt="">
          <div class="overlay">
             <h2>Cloud Infrastructure</h2>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/img/gallary/information-security.jpg" alt="">
          <div class="overlay">
             <h2>Cloud Infrastructure</h2>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
             <a class="info" href="#">link here</a>
          </div>
      </div>
    </div>
    
  </div>