<!--
<div class="col-md-6 col-md-offset-3 loginContainer">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            
            <input type="email" class="form-control" name="username" [(ngModel)]="user.email" #username="ngModel" id="email" required />
            
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            
            <input type="password" class="form-control validate" name="password" [(ngModel)]="user.password" #password="ngModel" required />
            
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        
        <div class="form-group">
            <div class="help-block">{{errorMsg}}</div>
            <button [disabled]="loading" class="btn btn-primary" (click)="serverLogin(user)" 
                    class="btn btn-primary" 
                    type="submit" name="action">Login</button>
            
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            
            <a [routerLink]="['/start']" class="btn btn-link">Register</a>
            
        </div>
        
    </form>
</div>-->
 <div class="container loginContainer">
           
            <header>
                <h1 class="prName">Knowledge Management</h1>
				
            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        
                        <div id="login" class="animate form">
                            <form  name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate autocomplete="on"> 
                                <h1>Log in</h1> 
                                <p> 
                                    <label for="username" class="uname" > Your email or username </label>
                                    <input id="email" [(ngModel)]="user.email" #username="ngModel" name="username" required="required" type="email" placeholder="myusername or mymail@mail.com" />  
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd validate"> Your password </label>
                                    <input id="password" [(ngModel)]="user.password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                                </p>
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">Keep me logged in</label>
								</p>
                                <p class="login button"> 
                                    <input type="submit" (click)="serverLogin(user)" name="action"  value="Login" /> 
                                    
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a routerLink="/register" routerLinkActive="active" class="to_register">Join us</a>
								</p>
                            </form>
                        </div>

                    </div>
                </div>  
            </section>
  
        </div>